# Compiled binaries
*.exe
*.out

# Object files
*.o
*.obj

# Debug / profiling files
*.ilk
*.pdb
*.idb
*.stackdump

# Libraries
*.so
*.a
*.dll
*.lib

# IDE / Editor settings

.vscode/
.idea/
*.swp
*.swo
*.log

# Build system files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
build/
Debug/
Release/

# Backup / temp files
*~
*.tmp
*.bak
*.old

# System-specific files
.DS_Store
Thumbs.db
